<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643714794185-sl4p3cvml5so27g7k9ojjbonedipntnh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643714794185-sl4p3cvml5so27g7k9ojjbonedipntnh</string>
	<key>API_KEY</key>
	<string>AIzaSyAzU-mJdcWv5EWI6xYLnwnPxXNRlGSxkdA</string>
	<key>GCM_SENDER_ID</key>
	<string>643714794185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.drivingDiv</string>
	<key>PROJECT_ID</key>
	<string>driving-div</string>
	<key>STORAGE_BUCKET</key>
	<string>driving-div.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643714794185:ios:8c7d8134a9dc2c76038318</string>
</dict>
</plist>